// Variables de la aplicación
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');


$widthMobile: 550px;
$widthDesktop: 1440px;
// Colores
$colorWhite: hsl(0, 0%, 100%);
$colorLightPink: hsl(275, 100%, 97%);
$colorGrayishPurple: hsl(292, 16%, 49%);
$colorDarkPurple: hsl(292, 42%, 14%);
$colorLightPurple: hsl(292, 87%, 55%);


//  Typography

$fontSizeParagraph: 16px;
$fontFamily: 'Work Sans', sans-serif;



